.movies-card-list {
  background-color: #202020;
  padding: 78px 5vw 0;
}

.movies-card-list__error {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 20px 0 20px;
  color: #fff;
}

.movies-card-list__grid {
  display: grid;
  column-gap: 32px;
  row-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.movies-card-list__button {
  width: 100%;
  border: none;
  display: flex;
  margin: 60px 0 0;
  background-color: #2f2f2f;
  border-radius: 6px;
  justify-content: center;
}

.movies-card-list__button-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin: 11px 0 9px;
  color: #fff;
}

.movies-card-list__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .movies-card-list__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 35px;
  }

  .movies-card-list {
    padding: 80px 4vw 0;
  }

  .movies-card-list__button {
    margin: 80px 0 0;
  }
}

@media screen and (max-width: 730px) {
  .movies-card-list__grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
  }

  .movies-card-list {
    padding: 51px 3vw 0;
  }
}
