.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #202020;
  /* padding: 70px 34.5vw 0; */
  margin: 70px auto 0;
  max-width: 396px;
}

.form__logo {
  align-self: flex-start;
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.form__logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  margin: 44px 0 40px;
  max-width: 410px;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input-block {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-top: 10px;
}

.form__input-title {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #8b8b8b;
  margin: 0;
}

.form__input {
  width: 100%;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  text-align: start;
  margin: 3px 0 10px;
  outline: none;
  border-bottom: 1px solid #424242;
}

.form__input:focus {
  border-bottom: #4285f4 1px solid;
}

.form__input-error {
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #ee3465;
  margin: 0;
  display: block;
  min-height: 12px;
}

.form__submit-button {
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 11px;
  color: #fff;
  margin: 133px 0 0;
  width: 100%;
  padding: 16px 0;
}

.form__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__nav-block {
  display: flex;
  margin: 18px auto 72px;
}

.form__nav-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  color: #8b8b8b;
  margin: 0;
}

.form__emty-block {
  display: block;
  height: 66px;
}

.form__nav-text_blue:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .form {
    padding: 232px 24.2vw 0;
  }

  .form__title {
    margin: 44px 0 36px;
  }

  .form__input-block {
    margin-top: 14px;
  }

  .form__input {
    font-weight: 500;
    line-height: 30px;
    margin: 0px 0 10px;
  }

  .form__emty-block {
    height: 67px;
  }

  .form__nav-block {
    margin: 18px auto 235px;
  }
}

@media screen and (max-width: 500px) {
  .form {
    align-items: center;
    padding: 56px 9vw 0;
  }

  .form__logo {
    align-self: center;
  }

  .form__title {
    margin: 55px 0 74px;
  }

  .form__submit-button {
    font-size: 12px;
    margin: 223px 0 0;
  }

  .form__nav-block {
    margin: 17px auto 30px;
  }

  .form__nav-text {
    font-size: 12px;
  }
}

.form__nav-text_blue {
  color: #4285f4;
  margin: 0 0 0 6px;
}

.form__input_red-text {
  color: #ee3465;
}

.form__submit-button_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
}

.form__submit-button_disabled:hover {
  opacity: 1;
  cursor: auto;
}
