.navigation {
  background-color: #202020;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navigation_style_blue {
  background-color: #073042;
}

.navigation__logo {
  width: 38px;
  height: 38px;
  margin-left: 70px;
  object-fit: cover;
}

.navigation__logo:hover {
  cursor: pointer;
  opacity: 0.5;
}

.navigation__nav-block {
  display: flex;
  align-items: center;
}

.navigation__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  margin: 0;
}

.navigation__text:hover {
  cursor: pointer;
  opacity: 0.5;
}

.navigation__text-menu {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  margin: 0px 0 0;
}

.navigation__text-menu_saved-films {
  font-weight: 400;
  margin: 0px 0 0 20px;
}

.navigation__text-menu:hover {
  cursor: pointer;
  opacity: 0.5;
}

.navigation__button {
  height: 32px;
  width: 76px;
  background-color: #3ddc84;
  margin: 21px 70px 21px 30px;
  border-radius: 3px;
  border: none;
}

.navigation__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.navigation-button-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #000000;
  margin: 0;
}

.navigation__button-account {
  margin: 21px 5vw 23px 44px;
  display: flex;
  background-color: transparent;
  border: none;
  align-items: center;
}

.navigation__acc-image {
  width: 30px;
  height: 30px;
  background-color: #313131;
  border-radius: 6px;
  margin-left: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__acc-icon {
  width: 10.4px;
  height: 10.7px;
  object-fit: cover;
}

.navigation__button-account:hover {
  cursor: pointer;
  opacity: 0.5;
}

.navigation__burger {
  display: none;
  width: 44px;
  height: 44px;
  outline: none;
  margin: 15px 30px 15px 0;
  background-color: transparent;
  border: none;
}

.navigation__burger-image {
  object-fit: cover;
}

@media screen and (max-width: 1050px) {
  .navigation__button {
    margin-right: 4vw;
  }
  .navigation__logo {
    margin-left: 4vw;
  }
}

@media screen and (max-width: 768px) {
  .navigation__burger {
    display: flex;
  }

  .navigation__button-account {
    display: none;
  }

  .navigation__text-menu {
    display: none;
  }

  .navigation__text-menu_saved-films {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navigation__logo {
    margin-left: 4vw;
  }

  .navigation__burger {
    margin: 17px 4vw 17px 0;
    width: 39px;
    height: 40px;
  }
}
